[tool.poetry]
name = "rpc.py"
version = "0.2.0"
description = ""
authors = ["abersheeran <me@abersheeran.com>"]
readme = "README.md"
license = "Apache-2.0"

homepage = "https://github.com/abersheeran/setup.py"
repository = "https://github.com/abersheeran/setup.py"

classifiers=[
    "Programming Language :: Python :: 3",
]

packages = [
    { include = "rpcpy" },
]

[tool.poetry.dependencies]
python = "^3.6"
python-multipart = "^0.0.5"
httpx = {version = "^0.13.3", optional = true}  # for client and test

[tool.poetry.extras]
client = ["httpx"]
full = ["httpx"]

[tool.poetry.dev-dependencies]
flake8 = "*"
mypy = "^0.782"
black = "^19.10b0"
pytest = "^5.4.3"
pytest-asyncio = "^0.14.0"

[tool.dephell.main]
from = { format = "poetry", path = "pyproject.toml" }
to = { format = "setuppy", path = "setup.py" }

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
